<div class="row" style="margin-top: 20px">
	<div class="col-md-offset-4 col-md-4">
		<div class="alert alert-danger" ng-show="showError">{{message}}</div>
	</div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-md-offset-4 col-md-4 " >
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    登录
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" name="formTpl">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3">登录名</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="user.loginName" name="loginName" id="loginName" placeholder="请输入登录名" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3">密码</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="user.password" name="password" id="password" placeholder="请输入密码" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <button class="btn btn-primary" ng-click="logIn()" type="submit" ng-disabled="formTpl.$invalid">
                                登录
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
