doctype html
html(ng-app='logIO')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/dist/css/bootstrap-theme.min.css')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/angular-resource.js')
    script(src='/javascripts/angular-ui-router.min.js')
    script(src='/javascripts/module.js')
    script(src='/javascripts/service.js')
    script(src='/javascripts/router.js')
    script(src='/javascripts/controller.js')
  body
    div(ui-view)
